<html>
<head>
    <title>Laboratorio Proxmox</title>
</head>
<body>
    <h1>Hola, soy el servidor: {{ inventory_hostname }}</h1>
    <p>Mi dirección IP es: {{ ansible_host }}</p>
    <p>Estado del sistema: Gestionado por Ansible</p>
</body>
</html>
