---
- name: Preparación de los nodos
  hosts: mis_nodos
  gather_facts: false
  become: true
  vars:
    # Estas variables fuerzan a apt a no ser interactivo
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    ansible_stdout_callback: yaml
  tasks:
    - name: Limpiar paquetes conflictivos
      apt:
        name: [containerd.io, containerd, runc]
        state: absent
    
    - name: Actualizar repositorios y paquetes
      apt:
        update_cache: yes
        force_apt_get: yes
        cache_valid_time: 3600  # Solo actualiza si pasó más de una hora (ahorra tiempo)

    - name: Instalar Dependencias
      apt:
        name: [curl,htop]
        state: present
        update_cache: yes

    - name: Fix /dev/kmsg para entornos LXC
      shell: |
        if [ ! -e /dev/kmsg ]; then
          ln -s /dev/console /dev/kmsg
        fi
      args:
        creates: /dev/kmsg

- name: Configurar K3s Master (lab-control)
  hosts: k3s_server
  become: true
  tasks:
    - name: Instalar K3s Server con flags de compatibilidad
      shell: |
        curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server \
        --kubelet-arg=protect-kernel-defaults=false \
        --kubelet-arg=make-iptables-util-chains=true" sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Esperar a que el token sea generado
      wait_for:
        path: /var/lib/rancher/k3s/server/node-token

    - name: Obtener el Token del Cluster
      shell: cat /var/lib/rancher/k3s/server/node-token
      register: node_token

- name: Configurar K3s Workers (Proxmox LXC)
  hosts: k3s_agents
  become: true
  serial: 1  # <--- Instala de uno en uno para evitar saturar el CPU del Proxmox
  vars:
    # Usamos la IP del primer host en el grupo k3s_server dinámicamente
    master_ip: "{{ hostvars[groups['k3s_server'][0]]['ansible_host'] }}"
  tasks:
    - name: Esperar a que el puerto 6443 del Master esté abierto
      wait_for:
        host: "{{ master_ip }}"
        port: 6443
        delay: 5
        timeout: 60

    # - name: Fix Mount Flags para K3s en LXC
    #   shell: |
    #     mount --make-rshared /
    #   ignore_errors: yes

    - name: Pausa para estabilidad del sistema
      pause:
        seconds: 60

    - name: Instalar K3s Agent y unir al clúster
      shell: |
        curl -sfL https://get.k3s.io | K3S_URL=https://{{ master_ip }}:6443 \
        K3S_TOKEN={{ hostvars[groups['k3s_server'][0]]['node_token']['stdout'] }} \
        INSTALL_K3S_EXEC="agent \
        --kubelet-arg=protect-kernel-defaults=false \
        --kubelet-arg=make-iptables-util-chains=true \
        --kube-proxy-arg=conntrack-max-per-core=0 \
        --kubelet-arg=feature-gates=KubeletInUserNamespace=true" sh -
      args:
        creates: /etc/rancher/k3s/k3s-agent.env
      environment:
        INSTALL_K3S_SKIP_ENABLE: "false" # Asegura que intente activar el servicio