---
- name: Nivel 3 - Preparación de todos los nodos (LXC Fix)
  hosts: mis_nodos
  gather_facts: false
  become: true
  vars:
    # Estas variables fuerzan a apt a no ser interactivo
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    ansible_stdout_callback: yaml
  tasks:
    # - name: Limpiar paquetes conflictivos
    #   apt:
    #     name: [containerd.io, containerd, runc]
    #     state: absent
    
    - name: Actualizar repositorios y paquetes
      apt:
        update_cache: yes
        upgrade: yes  # O 'yes' si prefieres un upgrade estándar
        cache_valid_time: 3600  # Solo actualiza si pasó más de una hora (ahorra tiempo)
        dpkg_options: 'force-confold,force-confdef' # <--- Evita preguntas interactivas
      # Forzamos opciones para que no pregunte por archivos de configuración
      environment:
        DEBIAN_FRONTEND: noninteractive

    # - name: Forzar actualización completa de repositorios
    #   apt:
    #     update_cache: yes
    #     force_apt_get: yes
    #     cache_valid_time: 0

    - name: Instalar Dependencias
      apt:
        name: [curl,htop]
        state: latest
        update_cache: yes

    - name: Fix /dev/kmsg para entornos LXC
      shell: |
        if [ ! -e /dev/kmsg ]; then
          ln -s /dev/console /dev/kmsg
        fi
      args:
        creates: /dev/kmsg

- name: Configurar K3s Master (lab-control)
  hosts: k3s_server
  become: true
  tasks:
    - name: Instalar K3s Server con flags de compatibilidad
      shell: |
        curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server \
        --kubelet-arg=protect-kernel-defaults=false \
        --kubelet-arg=make-iptables-util-chains=true" sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Esperar a que el token sea generado
      wait_for:
        path: /var/lib/rancher/k3s/server/node-token

    - name: Obtener el Token del Cluster
      shell: cat /var/lib/rancher/k3s/server/node-token
      register: node_token

- name: Configurar K3s Workers (Proxmox LXC)
  hosts: k3s_agents
  become: true
  vars:
    # ¡OJO! Verifica que esta IP sea la correcta (230 o 226)
    master_ip: "192.168.10.226"
  tasks:
    - name: Instalar K3s Agent y unir al clúster
      shell: |
        curl -sfL https://get.k3s.io | K3S_URL=https://{{ master_ip }}:6443 \
        K3S_TOKEN={{ hostvars['nodo_master']['node_token']['stdout'] }} \
        INSTALL_K3S_EXEC="agent --kubelet-arg=protect-kernel-defaults=false" sh -
      args:
        creates: /etc/rancher/k3s/k3s-agent.env