---
- name: Nivel 3 - Preparación de todos los nodos (LXC Fix)
  hosts: mis_nodos
  become: true
  tasks:
    - name: Limpiar paquetes conflictivos
      apt:
        name: [containerd.io, containerd, runc]
        state: absent

    - name: Actualizar caché de apt
      apt:
        update_cache: yes
        clean: yes

    - name: Instalar Dependencias
      apt:
        name: [curl]
        state: latest

    - name: Fix /dev/kmsg para entornos LXC
      shell: |
        if [ ! -e /dev/kmsg ]; then
          ln -s /dev/console /dev/kmsg
        fi
      args:
        creates: /dev/kmsg

- name: Configurar K3s Master (lab-control)
  hosts: k3s_server
  become: true
  tasks:
    - name: Instalar K3s Server con flags de compatibilidad
      shell: |
        curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server \
        --kubelet-arg=protect-kernel-defaults=false \
        --kubelet-arg=make-iptables-util-chains=true" sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Esperar a que el token sea generado
      wait_for:
        path: /var/lib/rancher/k3s/server/node-token

    - name: Obtener el Token del Cluster
      shell: cat /var/lib/rancher/k3s/server/node-token
      register: node_token

- name: Configurar K3s Workers (Proxmox LXC)
  hosts: k3s_agents
  become: true
  vars:
    # ¡OJO! Verifica que esta IP sea la correcta (230 o 226)
    master_ip: "192.168.10.226"
  tasks:
    - name: Instalar K3s Agent y unir al clúster
      shell: |
        curl -sfL https://get.k3s.io | K3S_URL=https://{{ master_ip }}:6443 \
        K3S_TOKEN={{ hostvars['nodo_master']['node_token']['stdout'] }} \
        INSTALL_K3S_EXEC="agent --kubelet-arg=protect-kernel-defaults=false" sh -
      args:
        creates: /etc/rancher/k3s/k3s-agent.env